.auth-container {
  background-color: #2b2b2b; /* Cor de fundo escura */
  color: #a9b7c6; /* Cor do texto clara */
}

input {
  background-color: #3c3f41; /* Cor de fundo dos inputs */
  color: #a9b7c6; /* Cor do texto dos inputs */
  border: 1px solid #4b4b4b; /* Borda dos inputs */
}

/* ... código existente ... */ 